@import './section.scss';
@import "~bootstrap/scss/bootstrap";

.bookmark{
	.bookmark-images {
		height: 300px;
		width: 1500px; 
		position:relative; 
		overflow: hidden;
		
		.bookmark-image {
			height: 300px;
			position: absolute;
		}
	}
}

.todo{
}
